@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-dark: #5651e5;
    --primary-light: #709dff;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.icon {
    color: var(--primary-dark)
}

.card-zoom {
    @apply relative flex items-center justify-between mx-auto overflow-hidden shadow-xl w-[95%] h-60 border;
}

.card-zoom-image {
    @apply absolute w-full h-full transition-all duration-500 ease-in-out transform bg-center bg-cover;
}

.card-zoom:hover .card-zoom-image {
    @apply scale-110;
}

@layer base {
    li {
        @apply p-4
    }

    h1 {
        @apply text-4xl font-bold
    }

    h2 {
        @apply text-3xl font-bold
    }

    h3 {
        @apply text-xl
    }

    p {
        @apply font-[Poppins]
    }


    /*button {
        @apply p-3 border bg-gradient-to-r from-[var(--primary-dark)] to-[var(--primary-light)] text-white rounded-md
    }*/
}

.icon {
    @apply text-2xl cursor-pointer
}